@{
    ViewData["Title"] = "About";
}
<div class="text-center welc">
    <h1 class="display-4 text-center" style="color:tomato">@ViewData["Title"]</h1>
</div>
<div class="comment row">
    <div class="cont-comm col-md-10">
        <div>
            <p class="text-xl-left txt-comm" style="font-size:1.25rem">
                The team was createt in 2021. This is the first project where we use ASP.Net Core.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>

        <div>
            <img src="~/img/team.jpg" class="img-comm" style="height:200px; width:auto" />
            <p class="text-dark font-weight-bold text-md-center">Our Team</p>
        </div>

    </div>
</div>
<div>
    <p class="text-center txt-comm" style="font-size:1.25rem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

